body{
    background-color: #000 !important;
}

.card{
    width: 18rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    overflow: hidden;
}

.card:before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #ffff;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.InfoSurvol{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    height: 50%;
    background-color: white;
    transform: translateY(100%);
}

.affich{
    transform: translateY(0%);
}
.card:hover:before {
    opacity: 0.5;
}

.card img{
    display: block;
    width: 100%;
    height: auto;
}

.displayList{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
  
